[submodule "microservices/ordering"]
	path = microservices/ordering
	url = https://github.com/MarioOctavio/algashop-ordering.git
[submodule "docs"]
	path = docs
	url = https://github.com/MarioOctavio/algashop-docs.git
